capstone
certifi
chardet
Click
Cython
Flask
gevent
greenlet
hexdump
idna
ipaddr
itsdangerous
Jinja2
MarkupSafe
nose
Pillow
pydot
pyelftools
pyparsing
requests
six
socketIO-client
urllib3
websocket-client
gevent-websocket
Flask-SocketIO==4.3.1
python-engineio==3.13.2
python-socketio==4.6.0
Werkzeug==2.0.0
